- 데이터를 나열하고, 각 데이터를 인덱스에 대응하도록 구성한 데이터 구조
- 파이썬 에서는 리스트 타입이 배열 기능을 제공하고 있다.

- 같은 종류의 데이터를 효율적으로 관리하기 위해 사용
- 같은 종류의 데이터를 순차적으로 저장

- 배열의 장점 : 인덱스를 통한 빠른 접근이 가능하다.
- 배열의 단점 : 데이터의 추가 및 삭제가 어렵다.
- 데이터가 중간에서 삭제된 경우 뒤에 있던 데이터를 앞으로 당겨오던가 하는 과정이 필요하다.
- 최악의 경우 배열을 다시 선언해야 할 수도 있다.

In [1]:
# C 언어에서 배열을 사용하는 경우
#include<stdio.h>

int main(int argc, char *argv[])
{
    char country[3]="US";
    printf("%c%c\n", country[0], country[1]);
    printf("%s\n", country);
    return 0;
}

SyntaxError: invalid syntax (<ipython-input-1-5754e565896d>, line 3)

In [3]:
# 파이썬에서 배열을 사용하는 경우
# 매우 간단하게 활용할 수 있다.
country='US'
print(country)

country = country + 'A' # 데이터의 추가도 쉽다.
print(country)

US
USA

 - 파이썬에서의 배열은 사실상 리스트를 사용하는 것이다.

In [4]:
# 1차원 배열 리스트로 구현 시
data=[1,2,3,4,5]
data # print 문 없이 배열 전체 내용 출력 가능

[1, 2, 3, 4, 5]

In [6]:
# 2차원 배열 리스트로 구현 시
data = [[1,2,3],[4,5,6],[7,8,9]] # 대괄호 내부에 있는 대괄호는 각 행을 나타낸다.
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [7]:
print(data[0])

[1, 2, 3]

In [8]:
print(data[0][0])

1

In [9]:
print(data[1][0])

4

In [10]:
print(data[2])

[7, 8, 9]

In [11]:
print(data[2][2])
print(data[2][1])
print(data[2][0])

9
8
7

In [12]:
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

In [13]:
print(dataset)

['Braund, Mr. Owen Harris', 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'Heikkinen, Miss. Laina', 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'Allen, Mr. William Henry', 'Moran, Mr. James', 'McCarthy, Mr. Timothy J', 'Palsson, Master. Gosta Leonard', 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', 'Nasser, Mrs. Nicholas (Adele Achem)', 'Sandstrom, Miss. Marguerite Rut', 'Bonnell, Miss. Elizabeth', 'Saundercock, Mr. William Henry', 'Andersson, Mr. Anders Johan', 'Vestrom, Miss. Hulda Amanda Adolfina', 'Hewlett, Mrs. (Mary D Kingcome) ', 'Rice, Master. Eugene', 'Williams, Mr. Charles Eugene', 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)', 'Masselmani, Mrs. Fatima', 'Fynney, Mr. Joseph J', 'Beesley, Mr. Lawrence', 'McGowan, Miss. Anna "Annie"', 'Sloper, Mr. William Thompson', 'Palsson, Miss. Torborg Danira', 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)', 'Emir, Mr. Farred Chehab', 'Fortune, Mr. Charles Alexander', 'Dwyer, Miss. Ellen "Nellie"', 'Todoroff, Mr. Lalio']

In [14]:
print(dataset[0])

Braund, Mr. Owen Harris

In [15]:
# dataset 배열에 있는 데이터들 중 'M' 이 몇번 나왔는지 계산해서 출력하라.
# 이중 반복 필요할듯

count = 0
print(type(count))

<class 'int'>

In [18]:
for i in range (0,len(dataset)) :
    for index in range (0,len(dataset[i])) :
        if 'M' == dataset[i][index] :
            count += 1

print(count)

38